

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: "Poppins", serif; */
*{
    padding: 0;
    margin: 0;        

    
}
/* body style */
body{
    font-size: 25px;
    font-family: "Poppins", serif;
}
/* section part 1 start styling  */
#section_part1{
    width: 1400px;
    max-width: 1400px;
    min-width: 1100px;
    height:600px;
    background: url(images/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#section_part1 .text_area{
     text-align: center;         /*text-area */
    width: 850px;
    line-height: 25px;
   
}
#section_part1 .text_area .p_one{
    margin-bottom: 20px;         /*p-one */
    
}
#section_part1 .text_area h2{
    font-size: 40px;
    line-height: 50px;      /* h2*/
    margin-bottom: 20px;

}
#section_part1 .text_area .p_two{
    font-size: 20px;      
    line-height:30px;     /*p-two*/
    margin-bottom: 20px;

}
#section_part1 .text_area .btn_part1 button{
    padding: 20px 40px;
    font-size: 20px;
    border-radius: 8px;
    background-color: rgb(82, 195, 3);
    color: white;
    border: none;

}

/* section part -2 */

#section_part2{
    width: 1400px;
    margin: 100px auto;
}
#section_part2 .text_area2{
    text-align: center;
    margin-bottom: 50px;
    
}
#section_part2 .text_area2 p{
    font-size: 20px;
    
}
#section_part2 .text_area2 h2{
    font-size: 30px;
    
}


#section_part2 #card_box{
    display: flex;
    width: 1000px;
    margin: auto;
    justify-content:space-between;
    gap: 20px;
}

#section_part2 #card_box .child_box{

    width:300px;
    text-align: center;
}
#section_part2 #card_box .child_box .btn2 button{
         background-color: aquamarine;
         padding: 10px 25px ;
         margin-top:10px;
         font-size:18px;
         text-transform: capitalize;
         border-radius:5px;
         border: none;
}
#section_part2 #card_box .child_box h3{
    margin-top: 10px;
    text-transform: capitalize;

}
#section_part2 #card_box .child_box p{
    margin-top: 10px;
    color: rgb(77, 71, 71);
}

#section_part2 .btn_part3{
    text-align: center;
}
#section_part2 .btn_part3 button{
    padding: 12px 30px ;
    background-color: aqua;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid black;
}





